body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #242121;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.6px;
    color: #01353E;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.title:after {
    content: '/';
    font-weight: 600;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 0.6px;
    color: #00B2A0;
    position: absolute;
    top: 3px;
}

/* =============== HEADER  ================ */


.header {
    background-image: url('../images/header-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
    align-self: flex-start;
    padding-top: 35px;
}

.logo {
    flex-shrink: 0;
}

.logo__img {
    height: 63px;
    width: 60px;
    position: relative;
    z-index: 2;
}

.nav__list {
    display: flex;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.nav__item {
    padding-bottom: 5px;
    transition: border 1s;
}

.nav__item:hover {
    border-bottom: 1px solid #00B2A0;
}

.nav__item+.nav__item {
    margin-left: 45px;
}

.header__front {
    text-align: center;
}

.header__title {
    color: #0D302C;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 200px;
    line-height: 235px
}

.header__sub-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__wrap-icon {
    margin-bottom: 93px;
}

.header__icon {
    height: 68px;
}


/* ================== BURGER MENU ================== */

.burger-btn {
    display: none;
    height: 30px;
    width: 35px;
    position: relative;
    margin-right: 15px;
}

.burger-btn__elem {
    height: 3px;
    width: 35px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.elem-1 {
    top: 5px;
}

.elem-2,
.elem-3 {
    top: 15px;
}

.elem-4 {
    top: 25px;
}


/* ================== BLOCK ABOUT ================= */

.about {
    padding: 190px 0 170px;
    text-align: center;
}

.about__desc {
    display: flex;
    text-align: start;
}

.about__col {
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__text {
    max-width: 480px;
    padding-bottom: 30px;
}


/* ===================  BLOCK RECEIVE ================= */


.receive {
    padding: 200px 0 170px;
    background-color: #F8F8F8;
}

.receive__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.receive-item {
    flex: 0 1 350px;
    background-position: 25% 0%;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

.receive-item-1 {
    background-image: url('../images/living.svg');
}

.receive-item-2 {
    background-image: url('../images/fly.svg');
}

.receive-item-3 {
    background-image: url('../images/learn.svg');
}

.receive-item__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.6px;
    padding: 0 0 15px 140px;
    min-height: 50px;
    text-transform: uppercase;
}

.receive-item-1 .receive-item__title {
    padding: 10px 0 25px 140px;
}

.advantages__inner {
    display: flex;
    justify-content: space-between;
}

.statistic {
    width: 350px;
    flex-shrink: 1;
}

.statistic__item span::before {
    content: '';
    background-image: url('../images/wave.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
    display: inline-block;
    height: 25px;
}

.statistic__item-1 span::before {
    content: '';
    width: calc(85% - 40px);
}

.statistic__item-2 span::before {
    content: '';
    width: calc(95% - 40px);

}

.statistic__item-3 span::before {
    content: '';
    width: calc(99% - 40px);
}

.statistic__item span {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
}

.method__desc {
    max-width: 600px;
    flex-shrink: 3;
    margin-left: 20px;
}

.method__desc p {
    padding-bottom: 30px;
}


/* =================  BLOCK PEACK  ================= */


.peak {
    background-image: url('../images/peak.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 200px 0;
}

.peak__inner {
    max-width: 510px;
    margin-right: auto;
}

.peak__title {
    white-space: nowrap;
}

.peak__desc {
    padding: 0 20px 30px 0;
}

/* ==================  BLOCK GALLERY ================= */

.gallery__menu {
    display: flex;
    margin: 212px 0 50px;
}

.gallery__menu-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin-right: 20px;
    text-decoration: uppercase;
    transition: color .3s;
}

.gallery__menu-item:hover {
    color: #00B2A0;
    transform: scale(1.1);
}

.gallery__menu-link {
    cursor: pointer;
}

.gallery__container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.gallery__image {
    width: 100%;
}

.gallery__btn {
    padding: 24px 90px;
    border: 1px solid #C4C4C4;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    display: block;
    margin: 50px auto 200px;
}

.gallery__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.gallery__btn:active {
    transform: scale(1);
}

.quote {
    background: #F8F8F8;
    padding: 80px 0 60px;
    text-align: center;
}

.blockquote {
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.6px;
}

.blockquote__author {
    font-style: italic;
    max-width: 870px;
    text-align: right;
    margin: 0 auto;
}

.gallery__video {
    margin: 200px 0;
    height: 600px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__numbers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 200px;
    max-width: 900px;
    margin: 0 auto;
}

.numbers-item__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.6px;
    color: #01353E;
    text-align: center;
    padding-bottom: 5px;
}

.numbers-item__title span {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #242121;
}


/* ================ BLOCK SLIDER ================= */

.blog {
    padding-bottom: 200px;
}

.slider-container {
    padding-top: 130px;
}

.slider-item {
    background-image: url('../images/blog-slider.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 800px;
}

.slider-item__inner {
    max-width: 1220px;
    height: 800px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.slider-item__desc {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #FFFFFF;
    max-width: 600px;
}

.slider-item__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.slick-dots {
    display: flex;
    font-size: 0;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots button {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.slick-active button {
    background: #00B2A0;
}

.slick-dots li+li {
    margin-left: 15px;
}

/* ===================== BLOCK TEAM ==================== */

.team {
    padding-bottom: 200px;
}

.team__title {
    margin-bottom: 212px;
}

.team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.team__member {
    text-align: center;
}

.team__photo {
    width: 100%;
}

.team__name {
    font-weight: 700;
    font-size: 18px;
    margin: 25px 0 5px;
}

.team__position {
    font-weight: 400;
}

/* ================ BLOCK SERVICES ============== */


.services__title {
    margin: 200px 0 180px;
}

.services__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.services__item {
    padding: 0 30px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__packet {
    text-align: center;
    padding: 45px 0 55px;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
}

.services__list {
    font-weight: 400;
    margin-bottom: 60px;
}

.services__row+.services__row {
    padding-top: 20px;
}

.price {
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #01353E;
    display: flex;
    justify-content: center;
}

.price span {
    font-size: 18px;
    padding-left: 5px;
}

.map {
    min-height: 640px;
    background-image: url('../images/map.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    margin: 200px 0;
}

/* ==============  request  ================= */

.request {
    padding-bottom: 200px;
}

.request__title {
    margin-bottom: 240px;
}

.request__inner {
    display: flex;
    flex-wrap: wrap;
}


.request-form {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    padding-right: 30px;
}

.request-inp {
    height: 38px;
    border: none;
    border-bottom: 2px solid #DADADA;
    padding: 5px 10px;
    font-size: 22px;
    outline: transparent;
}

.request-inp::placeholder,
.request-form__comment::placeholder {
    color: #00B2A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.6px;
    max-width: 260px;
}

.request-form__phone {
    margin: 30px 0 50px;
}

.request-form__comment {
    height: 155px;
    resize: none;
    margin-bottom: 70px;
}

.request-form__btn {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.6px;
    max-width: 350px;
    padding: 24px 110px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
}

.request-form__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.request-form__btn:active {
    transform: scale(1);
}

.contacts {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.6px;
    padding: 50px 0 0 52px;
}

.contacts__info {
    font-style: normal;
    margin-top: 65px;
    max-width: 325px;

}

.contacts__tel {
    display: block;
}


/* ================== FOOTER ==================== */


.footer__social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 125px;
}

.footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
}

.footer__link:hover {
    color: #00B2A0;
}

.footer__line {
    width: 100%;
    min-height: 200px;
    background: #00B2A0;
    padding: 68px 0;
}

.footer__logo {
    margin: 0 auto;
}


/* ================ MEDIA queries ================ */

@media(max-width: 1400px) {
    .peak {
        padding: 150px 0;
        background-position: center right;
    }

    .peak__title {
        white-space: normal;
    }

    .peak__title:after {
        font-size: 60px;
        top: 55px;
    }
}

@media(max-width: 1050px) {
    .header__top {
        width: 100%;
    }

    .title {
        font-size: 42px;
    }

    .title:after {
        font-size: 60px;
    }

    .about {
        padding: 120px 0 90px;
    }

    .receive {
        padding: 80px 0;

    }

    .peak {
        background-image: none;
        padding: 80px 0;
    }

    .peak__title:after {
        top: 2px;
    }

    .peak__inner {
        max-width: 100%;
    }

}

@media(max-width: 950px) {
    .header__title {
        font-size: 160px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 60px;
    }

    .title:after {
        font-size: 45px;
        top: -2px;
    }

    .about {
        padding: 100px 0 70px;
    }

    .receive {
        padding: 60px 0;
    }

    .receive__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .receive-item {
        flex-basis: 47%;
        margin-bottom: 60px;
    }

    .peak {
        padding: 60px 0;
    }

}

@media(max-width: 850px) {
    .header__title {
        font-size: 145px;
        line-height: 200px;
    }

    .nav__list {
        transform: translateY(-200%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(6, 44, 55, .7);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 95px 15px 15px;
        transition: all .5s;

    }

    .nav__list.nav__list--active {
        transform: translateY(0);
    }

    .nav__item+.nav__item {
        margin-left: 0;
    }

    .nav__item:hover {
        border-bottom: none;
    }

    .nav__link {
        padding: 10px 0;
    }

    .header__icon {
        height: 50px;
    }

    .burger-btn {
        display: block;
        z-index: 2;
    }

    .burger-btn--active .elem-1,
    .burger-btn--active .elem-4 {
        display: none;
    }

    .burger-btn--active .elem-2 {
        transition: all .5s;
        transform: rotate(45deg);
    }

    .burger-btn--active .elem-3 {
        transition: all .5s;
        transform: rotate(-45deg);
    }

    .about__col {
        justify-content: flex-start;
    }

    .about__col {
        padding-right: 80px;
    }

}

@media(max-width: 730px) {
    .title {
        font-size: 28px;
        margin-bottom: 60px;
        font-weight: 400;
    }

    .title:after {
        font-size: 38px;
        top: -4px;
    }

    .about {
        padding: 90px 0 60px;
    }


}

@media(max-width: 650px) {
    .header__title {
        font-size: 100px;
        line-height: 150px;
    }

    .header__sub-title {
        font-weight: 300;
        font-size: 22px;
    }

    .about {
        padding: 70px 0 50px;
    }

    .about__title {
        max-width: 400px;
        font-size: 28px;
        margin: 0 auto 60px;
        font-weight: 400;
        line-height: 48px;
        margin-bottom: 45px;
    }

    .about__title:after {
        font-size: 38px;
        top: 40px;
    }

    .about__col {
        padding-right: 50px;
    }

    .receive {
        padding: 40px 0;
    }

    .receive__inner {
        gap: 0;
    }

    .receive-item {
        flex-basis: 80%;
        background-position: 15% 0%;
    }

    .advantages__inner {
        flex-wrap: wrap;
    }

    .statistic {
        margin: 0 0 30px 20px;
    }
}

@media(max-width: 550px) {
    .title {
        font-size: 24px;
    }

    .about__desc {
        flex-wrap: wrap;
    }

    .about__col {
        padding-right: 0px;
    }

    .about {
        padding: 70px 0 50px;
    }

    .peak {
        padding: 40px 0;
    }
}

@media(max-width: 400px) {
    .header__title {
        font-size: 85px;
        line-height: 150px;
    }

    .header__sub-title {
        font-size: 19px;
    }

    .title {
        max-width: 200px;
        font-size: 22px;
        line-height: 35px;
        margin: 0 auto 40px;
    }

    .title:after {
        font-size: 30px;
        top: 53px;
    }

    .about {
        padding: 50px 0;
    }

    .receive__title:after {
        top: 17px;
    }

    .receive-item {
        background-position: 22% 0%;
        flex-basis: 50%;
    }

    .receive-item__title {
        padding-left: 130px;
    }

    .peak__title:after {
        top: 15px;
    }
}